
.App {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background: rgb(24, 20, 20);
  
}

.billboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  height: 720px;
  position: relative; /* Establish positioning context for absolutely positioned children */
}

.billboard {
  background-size: cover;
  grid-row: span 3;
  grid-column: span 3;
}

.billboard-title {
  /* font-size: 70px;
  font-family: 'poppins', sans-serif; */
  /* color: white; */
  width: 35%;
  height: 25%;
  background-size: cover;
  position: absolute; /* Position the title absolutely within the .billboard-container */
  top: 50%; /* Move the title 50% from the top of the .billboard-container */
  left: 20%; /* Move the title 50% from the left of the .billboard-container */
  transform: translate(-50%, -50%); /* Center the title both vertically and horizontally */
  text-shadow: 2px 1px 2px #000000;
  z-index: 1; 
}


.billboard-logo {

  background-image: url('./images/a-quiet-place-logo.png');

}

.billboard-description {
  width: 500px;
  font-size: 20px;
  font-family: 'poppins', sans-serif;
  color: white;
  position: absolute; /* Position the title absolutely within the .billboard-container */
  top: 65%; /* Move the title 50% from the top of the .billboard-container */
  left: 19%; /* Move the title 50% from the left of the .billboard-container */
  transform: translate(-50%, -50%); /* Center the title both vertically and horizontally */
  text-shadow: 2px 1px 2px #000000;
  z-index: 1; 
}

/* .billboard-play-div {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  height: 60px;
  background: rgb(255, 157, 157);
  top: 20%;
  left: 15.2%;
  z-index: 1;
  justify-content: center;
  align-items: center;
  position: absolute;
  
} */

.billboard-play-btn{
  display: flex;
  flex-wrap: wrap;
  width: 130px;
  height: 45px;
  border: none;
  border-radius: 5px;
  top: 75%;
  left: 2.5%;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  background: whitesmoke;
  
}

.billboard-play-btn:hover {
  transition: all 0.2 ease;
  background: rgb(196, 196, 196);

}



.billboard-play-btn p {

  text-align: center; 
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  margin: 0;

}


.billboard-info-btn {

  display: flex;
  flex-wrap: wrap;
  width: 170px;
  height: 46px;
  border: none;
  border-radius: 5px;
  top: 75%;
  left: 11.8%;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 20px;
  
  color: whitesmoke;
  background: rgba(121, 121, 121, 0.9);
  
}

.billboard-info-btn:hover{

  background: rgba(121, 121, 121, 0.3);

}


.billboard-info-btn p {
  color: whitesmoke;
  text-align: center; 
  align-items: center;
  font-size: 30px;
  
  margin: 0;

}

.video-player button {
  color: white;
  border-radius: 25px;
  background-color:  rgba(60, 60, 60, 0.5);
  width: 50px;
  height: 50px;
  border: 10px white;
  font-size: 25px;

}

.video-player button:hover {
  background-color:  rgba(60, 60, 60, 0.8);
}

.videoPlayer {

  display: flex;
  flex-wrap: wrap;

}

.bbmovie{
 
  background-image: url('./images/quiet-place-boy.gif');

}

.watch-movie-btn{

  background-color: transparent;
  border: none;
  color: transparent;
  text-decoration: none;
  font-size: 30px;
  height: 50px;
  width: 240px;

}

.watch-movie-btn:hover{
  transition: all .2s ease;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.watch-movie-btn:not(:hover){
  transition: all .3s ease;


}